{%- for bibble in collections.bibbles -%}
<div>
    <a href="{{bibble.url}}" class="bibble-btn img-text hover:bg-red-300">
        <img src="{{ bibble.data.icon }}" width="32px" />
        <span>{{ bibble.data.title }}</span>
    </a>
</div>
{%- endfor -%}
