@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
    }

    #main {
        @apply py-4 px-4 space-y-8 mx-auto;
    }

    .bibble-btn {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        border-style: solid;
        border-radius: 10px;
        padding: 0.25rem;
        color: #374151;

        @apply hover:bg-red-300;
    }

    .img-link {
        vertical-align: sub;
        vertical-align: -webkit-baseline-middle;
        vertical-align: -moz-middle-with-baseline;

        img {
            float: left;
        }
    }
}
