@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
    }

    .img-text {
        display: inline-block;

        img {
            margin: 0;
            display: inline-block;
        }

        span {
            vertical-align: middle;
        }
    }

    .bold-xl-left {
        @apply font-bold text-xl text-left;
    }
    
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 10px;
        padding: 1rem;

        table {
            @apply my-0 table-auto;
            @apply prose-td:p-0 prose-th:p-0;
            @apply prose-thead:border-none prose-tr:border-none;
            @apply prose-th:text-left;
        }
    }

    /* drop down menu */
    .menu {
        float: left;
        overflow: hidden;
    }

    /* hide checkbox */
    #hamburger {
        position: absolute;
        opacity: 0;
        right: 0;
    }

    /* toggle menu */
    #hamburger:checked ~ .menu-content {
        display: block;
    }

    /* menu content (hidden by default) */
    .menu-content {
        display: none;
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        left: 0;
        right: 0;
        z-index: 1;

        a {
            float: none;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
    }

    @media screen(sm) {
        .menu {
            position: static;
        }

        .menu-content {
            left: auto;
            right: auto;
            min-width: 180px;
            border-radius: 10px;
        }

        .menu-content a:first-child:hover {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .menu-content a:last-child:hover {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}
