---
title: The Game
layout: article
order: 1
icon: /assets/images/junimo.png
---

<p>
    <strong>Eric Barone</strong> known as <i>ConcernedApe</i> started developing
    Stardew Valley in 2012, largely inspired by <i>Harvest Moon</i>. He
    developed the game completly on his own. It was finally released in 2016.
</p>
<img src="/assets/images/ConcernedApe_Logo.png" alt="ConcernedApe's Logo" />
<p>
    Stardew valley is a Farming RPG. The farmer (that means you), inherits a
    farm from their deceased grandfather. As you get used to your new life you
    have to make lots of choices:
</p>
<ul>
    <li>
        Will you dedicate yourself to the community and repair the
        <i>Community Center</i>?
    </li>
    <li>
        Will you dedicate your time to making money and joining the
        <i>Joja Corporation</i>?
    </li>
</ul>
