---
title: Info
layout: article
order: 2
icon: /assets/images/star.png
---

<p>
    In the valley you have lots of things to discover. You will encounter
    villagers, start fishing, mining, and most of all farming. At the begining
    of your journey the
    <a href="https://stardewvalleywiki.com">Stardew Valley Wiki</a> will be your
    loyal companion. This blog can help you as well as some information here
    won't be available on the Wiki.
</p>
<h2>Gifting</h2>
<p>
    Every Villager and character has friendship hearts that you can fill by
    gifting them items. However just as real people they will like certain
    objects more than others, there are however certain items everybody loves,
    as well as some that everybody hates:
</p>

<div class="card bg-stardrop-light/50 max-w-[400px]">
    <!-- prettier-ignore -->
    {% set haley %}
    <img src="/assets/images/haley.png" width="24px" />
    <span class="ml-1">Haley</span>
    {% endset %}
    <!-- prettier-ignore -->
    {% set penny %}
    <img src="/assets/images/penny.png" width="24px" />
    <span class="ml-1">Penny</span>
    {% endset %}
    <!-- prettier-ignore -->
    {% set universalLoves = [
        [ "golden_pumpkin.png", "Golden Pumpkin", "&mdash;" ],
        [ "magic_rock_candy.png", "Magic Rock Candy", "&mdash;" ],
        [ "pearl.png", "Pearl", "&mdash;" ],
        [ "prismatic_shard.png", "Prismatic Shard", haley ],
        [ "rabbits_foot.png", "Rabbit's Foot", penny ],
        [ "stardrop_tea.png", "Stardrop Tea", "&mdash;" ]
    ] %}
    <table>
        <caption class="bold-xl-left mb-2">
            Universal Loves
        </caption>
        <thead>
            <tr>
                <th>Items</th>
                <th>Exceptions</th>
            </tr>
        </thead>
        <tbody>
            {% for love in universalLoves %}
            <tr>
                <td>
                    <div class="img-text">
                        <img
                            src="/assets/images/{{ love[0] | safe }}"
                            width="24px"
                        />
                        <span class="ml-1">{{ love[1] | safe }}</span>
                    </div>
                </td>
                <td>
                    <div class="img-text">{{ love[2] | safe }}</div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<p>
    The list of <strong>Universally Hated</strong> items is a lot longer but as
    a rule of thumb: most resources are hated or at least disliked, the same
    applies to monster loot or artifacts. For the full list you can look on the
    <a href="https://stardewvalleywiki.com/Friendship">Wiki</a>
</p>
