---
title: Essentials
layout: article
order: 2
icon: /assets/images/star.png
---

<p>
    In the valley you have lots of things to discover. You will encounter
    villagers, start fishing, mining, and most of all farming. At the begining
    of your journey the
    <a href="https://stardewvalleywiki.com">Stardew Valley Wiki</a> will be your
    loyal companion. This blog can help you as well as some information here
    won't be available on the Wiki.
</p>
<h2>Gifting</h2>
<p>
    Every Villager and character has friendship hearts that you can fill by
    gifting them items. However just as real people they will like certain
    objects more than others, there are however certain items everybody Loves,
    as well as some that everybody hates:
</p>

<!-- TODO: CSS cards / items icons -->
<h3>Universal Loves</h3>
<table>
    <tr>
        <td><strong>Items</strong></td>
        <td><strong>Exceptions</strong></td>
    </tr>
    <tr>
        <td>Golden Pumpkin</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Magic Rock Candy</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Pearl</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Prismatic Shard</td>
        <td>Haley</td>
    </tr>
    <tr>
        <td>Rabits foot</td>
        <td>Penny</td>
    </tr>
    <tr>
        <td>stardrop tea</td>
        <td>0</td>
    </tr>
</table>
