---
title: The Game
layout: article
order: 1
icon: /assets/images/junimo.png
---

<p>
    <strong>Eric Barone</strong> known as <i>ConcernedApe</i> started developing
    Stardew Valley in 2012, largely inspired by <i>Harvest Moon</i>. He
    developed the game completly on his own. It was finally released in 2016.
</p>
<img src="/assets/images/ConcernedApe_Logo.png" alt="ConcernedApe's Logo" />
<p>
    Stardew valley is a Farming RPG. The farmer (that means you), inherits a
    farm from their deceased grandfather. As you get used to your new life you
    have to make lots of choices:
</p>
<ul>
    <li>
        Will you dedicate yourself to the community and repair the
        <i>Community Center</i>?
    </li>
    <li>
        Will you dedicate your time to making money and joining the
        <i>Joja Corporation</i>?
    </li>
</ul>
<p>
    At the begining your Farm will be a total mess and you might want to give up
    right then and there...
</p>
<img src="/assets/images/starterfarm.png" />

<p>
    First you should plant the crops you were given and water them. Remember you
    dont have a lot of energy so be carefull that your energy bar doesn't get
    empty. At the begining of the game, it is important to pick up anything you
    see, you may find edible forage wich can be useful to fill your energy bar
    back up.
</p>
<p>
    For more help go to my <a href="/bibbles/tips/">Tips</a> or
    <a href="/bibbles/info/">Info</a> page
</p>
