---
title: Tips
layout: article
order: 3
icon: /assets/images/cake.png
---

<p>
    Stardew Valley can be a bit complicated at the begining so here are a couple
    tips and tricks! if you want to avoid any type of spoilers i wouldn't
    recommend continue reading, however there will be no real story spoilers!
</p>

<h3>The Firts Spring</h3>

<ul>
    <li>Plant your 15 parsnips ASAP.</li>
    <li>
        Whean going into town introduce yourself when you see the villagers
        instead of searching for them.
    </li>
    <li>
        Can't find a specific villager? Try the wiki, which has a schedule for
        everyone.
    </li>
    <li>
        On the second day the local fisherman will send you an invitation to the
        beach where he will give you a fishing rod.
    </li>
    <li>On the third day it is always raining.</li>
    <li>The Mines are accessible on the fifth Day</li>
    <li>
        To unlock the community center, you need to enter the town on the fifth
        day, however it must be through the bus stop entry on the right of your
        farm.
    </li>
    <li>
        Fishing may not be that easy but with a bit of practice you can make a
        lot of profit and fish is a good food ressource.
    </li>
</ul>
<div class="flex flex-row flex-wrap gap-4">
    <img
        src="/assets/images/fishmoneyone.png"
        class="inline-block m-0"
        style="height: 250px"
    />
    <img
        src="/assets/images/fishmoneytwo.png"
        class="inline-block m-0"
        style="height: 250px"
    />
</div>
<ul>
    <li>
        The First building Built should be the silo, it costs 100 Stones, 10
        Clay, and 5 copperbars. The silo is able to stock Hay to feed your
        animals so you dont have to buy it at Marnie's for 50g a piece. (it also
        feel s like she is never in her store...)
    </li>
    <li>
        Using your scythe you can cut the grs on the farm and if you have a silo
        hay will be stocked automatically.
    </li>
    <li>
        When going fishing or mining you can bring a chest so that your are not
        limited by your inventory slots. however be carefull not to place them
        in spaces where villagers walk as they will destroy the chests.
    </li>
    <li>
        In the mines combat does not take up energy so if you are low, focus on
        the monsters as they can spawn stars aswell.
    </li>
    <li>
        You should always bring artifacts to Gunther at the museum as he gives
        rewards such as seeds, furniture, and farm equipment etc.
    </li>
</ul>
