---
title: A new start to the Valley
layout: article
date: 2024-04-20
---

<p>
    As this is the beginning to my Stardew valley Blog i decided to make a whole
    new Save file and as the farm grows i will update the blog with anything
    about it: be it a character id don't like, what crops are the best for each
    season, etc.
</p>
<p>
    I called my farmer Lottie and the farm the <strong>Stardrop Farm</strong>. I
    chose the standart farm layout. On the very first day I cleaned out a bit of
    space to plant my 15 parsnips. I waterd them, then went into the city and
    talked to a few villagers to get started on the second quest which is to
    intruduce yourself to the 28 towns people. I also picked up whatever forage
    I could find; in Spring you can find Daffodils, Dandelions, Leek, and Wild
    Horseradish. Since my inventory started to get full i crafted a chest to
    store my findings.
</p>
<p>
    On the second day I watered my crops and then went to the beach to collect
    my Fishing rod, I then spent the rest of the day fishing. I repeated the
    same routine until the mines finally opened. On the 5th day on which I also
    unlocked the comunity center. I explored the mines until I got to level 10
    and had exactly 25 cpper ores so that I could craft a furnace the next day
    and make a copper bar. As expected Clint, the local blacksmith, shared the
    furnace blueprint with me on the next day. After crafting said furnace and
    starting to melt my ore I visited the community center and bought 20
    parsnips, I also crafted some basic fertilizer and planted my crops after
    applying the fertilizer to the ground to improve the quality of the crops. I
    need 5 goldstar quality Parsips for the quality crops bundle for the
    community center.
</p>
<p>
    I kept fishing for the rest of the week to raise as much money as I could.
    Form my first quality parsnip harvest i got 2 gold star parsnips so i
    replanted new parsips. I also planted all the mixed seeds I had gotten over
    the week.
</p>
<p>
    For the entire second week I fished, cut down trees on the farm and foraged.
    On the 10th day Marnie stopped by and I adopted a White cat and called her
    Snow. I found a couple of artifacts which I donated to the museum and as a
    reward I got 20 spring seeds, I did not plant yet. All that fishing got me
    to level 4 fishing!
</p>
<div class="flex justify-center items-center">
    <img src="/assets/images/cat.png" width="250px" class="m-0 rounded-xl" />
</div>
