---
title: A new start to the Valley
layout: article
---

<p>
    As this is the beginning to my Stardew valley Blog i decided to make a whole
    new Save file and as the farm grows i will update the blog with anything
    about it: be it a character id don't like, what crops are the best for each
    season, etc.
</p>
<p>I called my farmer Lottie and the farm the <strong>Stardrop Farm</strong></p>
