---
title: The Egg Festival!!
layout: article
date: 2024-04-24
---

<p>
    The Egg festival is celebrated on every 13th spring. The main event is the
    Egg hunt. the farmer can participate and win a straw Hat. To win you need to
    gather 9 Eggs otherwise it is Abigail who wins!
</p>
<p>
    On the 13th I woke up and watered my crops and the I prepared 20 tiles which
    I watered and fertalized. I did this to prepare for the strawberrys I would
    buy and for which I had saved up since day 1. Strawberry are the Best Spring
    crops as they sell for 120g-240g. as soon as the clock hit 9 am I went into
    town. I talked to everyone for the friendship points and at the same time
    finally finished introducing myself to everyone. The egg hunt went very well
    as i followed this route and collected a total of 10 eggs:
</p>
<img src="/assets/images/eggroute.png" class="rounded-xl" />
<p>
    That night i went home with a Fancy new Hat and 20 strawberrys planted on
    the farm!
</p>
