---
layout: base
---

{% include "header.njk" %}

<main id="main" class="py-4 px-4 space-y-8 mx-auto">
    <article class="container prose">
        <h1>{{ title }}</h1>
        {{ content | safe }}
    </article>
</main>

{% include "footer.njk" %}
